<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Humanity Center</title>
        <link rel="stylesheet" href="../css/bootstrap.min.css" />
        <link rel="stylesheet" href="../css/design.css" />
        <link rel="stylesheet" href="../css/home.css" />
        <script src="../js/jquery-2.1.1.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>
        <script src="../js/design.js"></script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <!-- <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol> -->
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="../img/i-1.jpg" alt="i-1">
                            <div class="carousel-caption">
                                <!-- Les ONGs luttent contre le soleil ! -->
                            </div>
                        </div>
                        <div class="item">
                            <img src="../img/i-2.jpg" alt="i-2">
                            <div class="carousel-caption">
                                <!-- Des grilles menacent la liberté ! -->
                            </div>
                        </div>
                        <div class="item">
                            <img src="../img/i-3.jpg" alt="i-3">
                            <div class="carousel-caption">
                                <!-- Un drapeau, c'est beau ! -->
                            </div>
                        </div>
                    </div>
                    <!-- Controls -->
                    <!-- <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a> -->
                </div>
                <div id="home_header">
                    
                </div>
            </div>

            <div class="row" id="home_list_campagnes">
                <div class="col-md-2">
                    <div class="filters">
                        
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="campagne">
                        <p class="campagne_title">Les ONGs luttent contre le soleil !</p>
                        <p class="campagne_description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tristique dui eget tempor mattis. Proin sapien risus, eleifend eu sem sed, mollis pulvinar leo. Vestibulum vitae dolor vel lectus varius tincidunt. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam ultrices luctus luctus.
                        </p>
                        <p class="campagne_button"><a href="#" class="btn btn-primary btn-sm">Voir la campagne ></a></p>
                        <div class="campagne_background" style="background-image: url(../img/i-1.jpg);"></div>
                    </div>
                    <div class="campagne">
                        <p class="campagne_title">Un drapeau, c'est beau !</p>
                        <p class="campagne_description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tristique dui eget tempor mattis. Proin sapien risus, eleifend eu sem sed, mollis pulvinar leo. Vestibulum vitae dolor vel lectus varius tincidunt. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam ultrices luctus luctus.
                        </p>
                        <p class="campagne_button"><a href="#" class="btn btn-primary btn-sm">Voir la campagne ></a></p>
                        <div class="campagne_background" style="background-image: url(../img/i-3.jpg);"></div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="campagne">
                        <p class="campagne_title">Des grilles menacent la liberté !</p>
                        <p class="campagne_description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tristique dui eget tempor mattis. Proin sapien risus, eleifend eu sem sed, mollis pulvinar leo. Vestibulum vitae dolor vel lectus varius tincidunt. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam ultrices luctus luctus.
                        </p>
                        <p class="campagne_button"><a href="#" class="btn btn-primary btn-sm">Voir la campagne ></a></p>
                        <div class="campagne_background" style="background-image: url(../img/i-2.jpg);"></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
